<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melere</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}

    <!-- Scripts comunes para todas las vistas -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/delete.js"></script> <!-- ✅ Nuevo script para botones Eliminar -->
</body>
</html>
